body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;

}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #FF9900;
}

p,
#footer {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

strong {
  color: black;
}

#footer a+a {
  margin-left: 28px;

}

#footer {
  margin-bottom: 33px;
}

#line {
  width: 568px;
  height: 0px;
  margin: auto;
  border: 1px solid #ECEFF2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;

}