body {
  margin: 0px;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 121, 9, 1) 35%, rgba(227, 245, 232, 1) 80%);
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;

}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

ul li a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
  opacity: 1;
}

ul li a:hover {
  font-weight: bold;
}

h1,
ul {

  font-family: 'Mulish', sans-serif;

}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  color: #7d7987;
  line-height: 28px;
  font-size: 14px;
  margin: 40px 0;
}

button:hover {
  background: #407e66;
}


button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  background-color: #69b99d;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 15px;
  color: #ffffff;

  gap: 10px;
  cursor: pointer;

}



footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 82px;
}

footer a {
  font-weight: bold;
}

footer img {
  justify-content: right;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}